/* .card-content{
    border: 1px solid black ;
    border-radius: 4px;
    height: 470px;
    width: 280px;
    display: grid;
    transition: 0.05s;
    cursor: pointer;
    grid-auto-flow: row;
    padding: 10px;
    margin-left: 70px;
    margin-top: 10px;
    text-align: center;
}

.Biriyani-logo{
    height: 200px;
    width: 100%;
    border-radius: 4px;
   margin-left: 12px;
}
.card-details{
    display: flex;
    align-content: end;
    text-align: left;
    flex-wrap: wrap;
 
} */
.body{
    background-color: #f5f5f5;
}
.Biriyani-logo{
    width: 90%;
    height: 170px;
    border-radius: 4px;
   margin-left: 12px;
}
.card-content{
    /* border: 1px solid black ;
    border-radius: 4px;
    height: 490px;
    width: 300px; */
    height: 360px;
    width: 280px;
    display: grid;
    transition: 0.05s;
    cursor: pointer;
    grid-auto-flow: row;
    padding: 10px;
     /* margin-left: 30px; */
    /*margin-top: 10px; */
    text-align: center;
    background-color:white;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 4px;
}
.card-details{
   
    display: flex;
    gap: 10px;
    margin-left: 25px;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    align-content: end;
    text-align: left;
    flex-wrap: wrap;
   
}
.card-content:hover{
    transform: scale(1.05);
}
.avgstar {
    color: green;
}
.cuisines {
    font-style: italic;
}
